/.mixin.out
/assets
/betweenlands_gallery
/crash-reports
/journeymap
/llibrary
/logs
/mods
/patchouli_books
/resourcepacks
/saves
/shaderpacks
/TombManyGraves
/.curseclient
/BotaniaVars.dat
/crafttweaker.log
/minecraftinstance.json
/OpenComputersMod-1.7.5.192-lua52-native.64.dll
/OpenComputersMod-1.7.5.192-lua53-native.64.dll
/options.txt
/optionsof.txt
/patchouli_data.json
/usercache.json
/usernamecache.json
